@tailwind base;
@tailwind components;
@tailwind utilities;

.fontStyle {
    @apply text-2xl font-bold text-green-600;
}

li::marker {
    color: rgb(34 197 94);
}



@media only screen and (max-width: 399px) {
    .why-us {
        justify-content: center;
    }

    .why-us-title {
        text-align: center;
    }
}